.drinkList {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	background-color: rgb(244, 243, 243);
}

.drink {
	max-width: 20%;
	display: flex;
	text-decoration: none;
	margin: 20px;
	align-items: center;
	justify-content: center;
	background-color: white;
}

.drinkDiv {
	display: flex;
	border-radius: 3px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
	transition: all 0.2s;
}

.drinkDiv:hover,
.drinkDiv:active {
	transform: translateY(-2px);
}

.drinkHeader {
	max-width: 80%;
	text-align: center;
	color: black;
	align-self: flex-start;
	justify-self: flex-start;
	margin-left: 30px;
}

img {
	min-height: 200px;
	width: 100%;
}
