.drank {
	background-color: rgb(244, 243, 243);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: "Lato", sans-serif;
}

.drankContainer {
	background-color: white;
	max-width: 70%;
	padding: 2rem;
	display: flex;
	align-items: center;
	position: relative;
}

.drank i {
	position: absolute;
	left: 1rem;
	top: 1rem;
	font-size: 1.5rem;
	cursor: pointer;
	color: grey;
}

.drank img {
	height: 400px;
	width: auto;
	padding: 4rem;
}

.drank__right h2 {
	font-size: 4rem;
	font-family: "Lato", sans-serif;
	font-weight: 300;
}

.drankIngDiv {
	width: 60%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.clicked {
	color: rgb(187, 43, 43) !important;
}
