.search {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
}
.searchInput {
	width: 50%;
	height: 30px;
	font-size: 18px;
	border: none;
	background-color: rgb(244, 235, 235);
}

.searchInput:focus,
.searchInput:active {
	border: none;
	outline: none;
}
